@use 'variables';

section {
    &.dark {
        background-color: variables.$mainColor;
    }

    &.light {
        background-color: variables.$secondaryColor;
    }
}

.greeting {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}