@use 'variables';

.wrapper {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid variables.$borderColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$mainColor;

    .navigation {
        margin: 0;
        padding: 10px;

        li {
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;

            a {
                color: variables.$mainText;
            }
        }
    }

    .dots-wrapper {
        display: flex;
        padding: 10px;

        .browser-dot {
            background-color: black;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin: 5px;

            -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

            &.dot-1 {
                background-color: #fc6058;
            }

            &.dot-2 {
                background-color: #fec02f;
            }

            &.dot-3 {
                background-color: #2aca3e;
            }
        }
    }
}
